<section class="converter-instructions">
  <div class="converter-instructions-box">
  <h2>How to use Coin Converter</h2>
  <ol>
    <li>Click on the Coin title to select a crypto from the list.</li>
    <li>Click on the Currency title to select a Currency from the list.</li>
    <li>Enter the desired amount of Crypto under the coin title and it will automatically convert.</li>
  </ol>
  </div>
</section>




<section class="crypto-converter">
  <div class="converter-block">
<!-- Crypto Converter ⚡ Widget -->
<crypto-converter-widget shadow symbol live background-color="#383a59" border-radius="0.51rem" fiat="united-states-dollar" crypto="bitcoin" amount="" font-family="monospace" decimal-places="3" ></crypto-converter-widget>
<a href="https://currencyrate.today/" target="_blank" rel="noopener">CurrencyRate.Today</a>
<script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
<!-- /Crypto Converter ⚡ Widget -->
</div>
</section>
